<h1 class="text-center"> Editing Exercise for <%= current_user.full_name %></h1>

<%= render 'form' %>

<%= link_to "Show", [current_user, @exercise] %>
<%= link_to "Back", user_exercises_path(current_user)
